extends layoutUser



block scripts
    script.
        var idr =  '!{idrecurso}';
        var idp=  '!{idpost}';                                     

    script( src='/javascripts/jquery-3.5.1.min.js')
    script( src='/javascripts/myPost.js')
   
block addmetadata

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

    .w3-dropdown-hover.w3-mobile
        button.w3-button Operações 
            span.material-icons(style="font-size:17px") keyboard_arrow_down

        .w3-dropdown-content.w3-bar-block.w3-dark-grey
            a.w3-bar-item.w3-button.w3-mobile(href="/recursos/"+idrecurso) Voltar ao Recurso
            a.w3-bar-item.w3-button.w3-mobile(href="/publicacoes/"+recurso.id) Posts do Recurso

            if(user.nivel>1 || infopost.nome==user._id)
                a.w3-bar-item.w3-button.w3-mobile(href="/publicacoes/"+idrecurso+'/'+idpost+'/editar') Editar Post
                a.w3-bar-item.w3-button.w3-mobile.w3-hover-red(href="/publicacoes/"+idrecurso+'/'+idpost+'/delete') Eliminar Post


       



block content


    .w3-container.w3-light-grey
        h1 Post sobre o Recurso: #{recurso.titulo}

    .w3-card-4.w3-border.w3-margin
        dl.w3-margin
            dt
                b Data do Post:
            dd=infopost.data

            dt  
                b Publicador do Post:
            dd=infopost.nome

            dt 
                b Conteúdo:
            dd=infopost.conteudo

              
    form.w3-container(id="myPost")
        fieldset.w3-container.w3-margin
            legend
                b Novo Comentário
            table
                tr
                    td 
                        textarea( id="comentText" name="conteudo", cols="80", rows="3")
            input.w3-button.w3-round.w3-black.w3-margin(type="button" value="Adicionar Comentário" id="addComent")
    .w3-container.w3-border.w3-margin
        ul.w3-ul(id="comentList") 

    footer.w3-container.w3-padding-16.w3-black
        .w3-center Recursos Académicos &copy; 2021
           