extends layoutUser

block addmetadata



  if(user.nivel>0)
    .w3-dropdown-hover.w3-mobile
      button.w3-button Operações 
        i.fa.fa-caret-down


        .w3-dropdown-content.w3-bar-block.w3-dark-grey       
          a.w3-bar-item.w3-button.w3-mobile(href="/recursos/novo") Novo Recurso



block content
  .w3-card-4
    header.w3-container.w3-light-grey
      h3.w3-left Lista de Recursos
    .w3-container.w3-margin 
      p Ordenar por:
      form.w3-container(style="float:left;display:inline" action='/recursos' method='GET')
        input.w3-input.w3-border(style="width:150px;float:left;display:inline" type="text"  name="hashtags")
        input.w3-btn.w3-black(style="float:left;display:inline" type="submit" value="Hashtag")
      
      form.w3-container(style="float:left;display:inline" action='/recursos' method='GET')
        input.w3-input.w3-border(style="width:150px;float:left;display:inline" type="text"  name="ano")
        input.w3-btn.w3-black(style="float:left;display:inline" type="submit" value="Ano")

      a.w3-btn.w3-black(style="float:left;display:inline;margin-left:30px" href="/recursos?byTitulo=true") Título
      a.w3-btn.w3-black(style="float:left;display:inline;margin-left:30px" href="/recursos") Mais Recentes
      a.w3-btn.w3-black(style="float:left;display:inline;margin-left:30px" href="/recursos?byAntigos=true") Mais Antigos
      a.w3-btn.w3-black(style="float:left;display:inline;margin-left:30px" href="/recursos?byLikes=true") Melhor Classificados


    if list.length > 0
      .w3-container 
        table.w3-table-all
          tr 
            th Titulo
            th subtitulo
            th dataCriacao
            th dataRegisto
            th Publicador
            th likes
            th hashtags


          each s in list
            tr
              td
                a(href="/recursos/"+s._id) #{s.titulo} 
              td=s.subtitulo
              td=s.dataCriacao
              td=s.dataRegisto
              td
                a(href='/utilizadores/'+s.produtor) #{s.produtor} 
              td.likes=s.likes.length
              td.hashtags=s.hashtags  
              if( user.nivel>1 || user._id == s.produtor)              
                td 
                  a(href="/recursos/editar/"+s._id) Edit
                td
                  a(href="/recursos/delete/"+s._id) Delete 



    else
      .w3-container
        p Não há recursos..
