extends layoutUser

block scripts

  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='/stylesheets/jquery.modal.min.css')

  script( src='/javascripts/preview.js')
  script( src='/javascripts/jquery-3.5.1.min.js')
  script( src='/javascripts/jquery.modal.min.js')

block addmetadata

  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

  .w3-dropdown-hover.w3-mobile
    button.w3-button Operações 
      span.material-icons(style="font-size:17px") keyboard_arrow_down

    .w3-dropdown-content.w3-bar-block.w3-dark-grey
      a.w3-bar-item.w3-button.w3-mobile(href="/publicacoes/"+recurso.id) Posts do Recurso
      a.w3-bar-item.w3-button.w3-mobile.w3-hover-green(onclick="document.getElementById('id01').style.display='block'") Novo Post
      a.w3-bar-item.w3-button.w3-mobile(href="/recursos/download/"+recurso.id) Download
      if(user.nivel>1 || recurso.produtor==user._id)
        a.w3-bar-item.w3-button.w3-mobile.w3-hover-red(href="/recursos/delete/"+recurso.id) Delete Recurso
        a.w3-bar-item.w3-button.w3-mobile(href="/recursos/editar/"+recurso.id) Edit Recurso

  .w3-modal( id="id01")
    .w3-modal-content.w3-card-4.w3-animate-zoom(style="max-width:600px")

      .w3-center
        br
        span.w3-button.w3-xlarge.w3-hover-red.w3-display-topright(onclick="document.getElementById('id01').style.display='none'" title="Close Modal") &times
      
      h3.w3-center.w3-text-black Novo Post
      form.w3-container(action='/publicacoes/'+recurso.id+'/novo' method='POST')
        .w3-section
          label.w3-text-black Conteúdo: 
          input.w3-input.w3-border.w3-margin-bottom(type="text" name="conteudo")

          input.w3-button.w3-block.w3-black.w3-section.w3-padding(type="submit" value="Publicar")

      .w3-container.w3-border-top.w3-padding-16.w3-light-grey
        button(onclick="document.getElementById('id01').style.display='none'" type="button") Cancelar



block content

  .w3-stretch(id="display")

  .w3-card-4
    header.w3-container.w3-light-grey
      h3.w3-left Recurso: #{recurso.titulo} 

    .w3-container 
      table.w3-table-all
        tr 
          th Título
          th Subtítulo
          th Data de Criação
          th Data de Registo 
          th Publicador
          th Likes 
          th Hashtags

        tr
          td=recurso.titulo
          td=recurso.subtitulo
          td=recurso.dataCriacao
          td=recurso.dataRegisto
          td
            a(href='/utilizadores/'+recurso.produtor) #{recurso.produtor} 
          td=recurso.likes.length
          td=recurso.hashtags



    if manifesto.pasta_rec.length > 0

      .w3-container.w3-margin
        footer.w3-container.w3-light-grey
          p Pastas
        
        table.w3-table-all
          tr 
            th Nome

          each p in manifesto.pasta_rec
            tr
              td
                p #{p.nome}
                  a.w3-button.w3-round.w3-black.w3-margin.w3-hover-grey(href='/recursos/'+download+"/"+p.nome)
                    span.material-icons(style="font-size:18px") folder_open
              td
                a.w3-button.w3-round.w3-black.w3-margin.w3-hover-grey(href='/recursos/download/'+download+"/"+p.nome)
                  span.material-icons(style="font-size:18px") get_app


    else 
      .w3-container.w3-margin
        footer.w3-container.w3-light-grey
          p Pastas
        .w3-container
          p Não há pastas....

    if manifesto.ficheiros.length > 0
      .w3-container.w3-margin

        footer.w3-container.w3-light-grey

          p Ficheiros

        table.w3-table-all
          tr 
            th Título
            th Tipo
            th Meta

          each s in manifesto.ficheiros
            tr.w3-hover-grey(onclick=`preview("${s.tipo}","${s.nome}","/${path_g}/${s.nome}","/recursos/download/${download}/${s.nome}");`)

              td=s.nome
              td=s.tipo
              td=s.subtitulo
              if  s.meta.length > 0

                td  
                  table.w3-table-all
                    tr
                      th Nome do Parâmetro
                      th Valor do Parâmetro

                    each meta in s.meta
                      tr
                        td=meta.nome
                        td=meta.valor
              else
                td Este ficheiro não tem metadata associada...

    else
      .w3-container.w3-margin
        footer.w3-container.w3-light-grey
          p Ficheiros
        .w3-container
          p Não há ficheiros...


    a.w3-button.w3-round.w3-black.w3-margin(href='/recursos/like/'+download)
      span.material-icons(style="font-size:20px") thumb_up_alt

    a.w3-button.w3-black.w3-round.w3-margin.w3-right(href='javascript:history.back()') Voltar

  footer.w3-container.w3-padding-16.w3-black
        .w3-center Recursos Académicos &copy; 2021

