doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/jquery.modal.min.css')

    script( src='/javascripts/preview.js')
    script( src='/javascripts/jquery-3.5.1.min.js')
    script( src='/javascripts/jquery.modal.min.js')


block content

  .w3-stretch(id="display")

  .w3-card-4
    header.w3-container.w3-teal
      h3.w3-left Recurso #{recurso.titulo} (DAW2020)

    .w3-container 
      table.w3-table-all
        tr 
          th Titulo
          th Tipo
          th Subtitulo
          th DataCriação
          th DataRegisto 
          th Publicador
          th Likes 
          th Hashtags

        tr
          td=recurso.titulo
          td=recurso.tipo
          td=recurso.subtitulo
          td=recurso.dataCriacao
          td=recurso.dataRegisto
          td=recurso.produtor
          td=recurso.likes
          td=recurso.hashtags


    if manifesto.pasta_rec.length > 0


      .w3-container 
        footer.w3-container.w3-teal
          p Pastas
        .w3-container  
          table.w3-table-all
            tr 
              th Nome

            each p in manifesto.pasta_rec
              tr
                td
                  a(href='/recursos/'+download+"/"+p.nome) #{p.nome} 

    else 
      .w3-container 
        footer.w3-container.w3-teal
          p Pastas
        .w3-container
          p Não há pastas....

    if manifesto.ficheiros.length > 0
      .w3-container 

        footer.w3-container.w3-teal

          p Ficheiros

        .w3-container 
          table.w3-table-all
            tr 
              th Titulo
              th Tipo
              th Meta


            each s in manifesto.ficheiros
              tr(onclick=`preview("${s.tipo}","${s.nome}","/${path_g}/${s.nome}","/recursos/download/${download}/${s.nome}");`)

                td=s.nome
                td=s.tipo
                td=s.subtitulo
                td

                td  
                  table.w3-table-all
                    tr
                      th Nome Parametro
                      th Valor Parametro

                    each meta in s.meta
                      tr
                        td=meta.nome
                        td=meta.valor






    else
      .w3-container 
        footer.w3-container.w3-teal
          p Ficheiros
        .w3-container
          p Não há ficheiros....




    footer.w3-container.w3-teal
      p
        a(href="/") Index 
      p
        a(href="/publicacoes/"+recurso.id) Posts do recurso
      p
        a(href="/publicacoes/"+recurso.id+'/novo') Novo Post  
      p
        a(href="/recursos/download/"+recurso.id) Download Recurso
